{% extends "instructor_template.twig" %}

{% block instructor %}

<script>
    function toggle(id) {
        var check = document.getElementsByName("sharedquestion" + id);
        var override = document.getElementsByName("pointoverride" + id);
        override[0].disabled = !check[0].checked;
    }
</script>

<center>
    <h2> {% if create %} Create Exam {% else %} Edit Exam {% endif %} </h2>
    <div>
        <form method="post" {% if create %} style="display:none" {% endif %}>
            <div>
                <button type="submit" name="Delete" value="Delete">Delete</button>
            </div>
        </form>
    </div>

    <style type="text/css">
        tr, td {border: 1px solid black; }
        tr.noBorder td {border: 0; }
    </style>

    <form method="post">
        {% if create == false %}
            <input type="hidden" name="examid" value="{{ exam["id"] }}">
        {% endif %}
        <div>
            <label>Name</label>
            <input name="name" value="{{ exam["title"] }}">
        </div>
        <div>
            <label>Released</label>
            <input name="released" {% if exam["released"]  %} checked="checked" {% endif %} type="checkbox">
        </div>

        <table>
            <tr class ="noBorder">
                <td><strong><Center>Included</Center></strong></td>
                <td><strong><Center>Question</Center></strong></td>
                <td><strong><Center>Answer</Center></strong></td>
                <td><strong><Center>Points</Center></strong></td>
            </tr>

            {% for q in questions %}
            <tr>
                <td><input name="sharedquestion{{q["id"]}}" type="checkbox" {% if q["checked"] %} checked="checked" {% endif %}  onchange="toggle({{ q["id"] }});"></td>
                <td><code>{{q.question | printable}}</code></td>
                <td><code>{{q.answer | printable}}</code></td>

                {# This should be disabled for questions that aren't selected #}
                <td><input name="pointoverride{{ q["id"] }}" type="number" {% if not q["checked"] %} disabled="disabled" {% endif %} value="{{q.points}}" min="0"></td>
            </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td>No questions found</td>
                    <td></td>
                </tr>
            {% endfor  %}
        </table>

        <div>
            <button type="submit"> <h2> {% if create %} Create {% else %} Apply changes {% endif %} </h2></button>
        </div>
    </form>
</center>
{% endblock %}