{% extends "instructor_template.twig" %}

{% block instructor %}
{% if instructor %}
    <center><a href="feedback_completion.php" leftclass="button">Apply</a></center>
{% endif %}
    {% for e in exams_edit %}
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                {{e.exam_title}}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <article class="message is-primary">
                    <div class="message-header">
                        Question
                    </div>
                    <div class="message-body">
                        {{e.question}}
                    </div>
                </article>
                <article class="message">
                    <div class="message-header">
                        Student Answer
                    </div>
                    <div class="message-body">
                        {{e.student_answer}}
                    </div>
                </article>
                <article class="message">
                    <div class="message-header">
                        Feedback
                    </div>
                        <center>
                        Points: <br><input type="text" name="points_edit" size=4 value="{{ e.score }}">
                        {# Score: {{e.score}} #}
                        <br>Feedback: <br>
                        {# {{e.feedback}} #}
                        <textarea name="feedback_edit" rows="14" cols="80">{{ e.feedback }}</textarea><br>
                        <a href="feedback_completion.php" leftclass="button">Apply</a><br>
                        </center>
                </article>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}