{% extends "instructor_template.twig" %}

{% block instructor %}
<center>
    <h1>Question Creation</h1>

    <div id="message">
        {{ message }}
    </div>

    <form action = "question_creation.php" method="POST">
        <label for="question">Question</label><br>
        <textarea name="question" value="question" rows="8" cols="40" placeholder="Enter question..." autofocus>{{ model["question"] }}</textarea><br>

        <label for="answer">Answer</label><br>
        <textarea name = "answer" value="answer" rows="8" cols="40" placeholder="Enter answer...">{{ model["answer"] }}</textarea><br>

        <label for="answer">Test Cases</label><br>
        <textarea name = "testcases" value="testcases" rows="4" cols="40" placeholder="Enter test cases... (comma separated list of test cases; each test case is a semicolon separated list)">{{ model["testCases"] }}</textarea><br>

        <label for="points">Points</label>
        <input type="text" name="points" placeholder="Enter point value..." value="{{ model["points"] }}">

        <input type="hidden" name="id" value="{{ model["id"] }}">
        <input type = "submit" name="btn" value="{% if editing %} Edit {% else %} Add {% endif %}" >
    </form>

    <h2>Questions/Answers Bank</h2>

        <style type="text/css">
            tr, td {border: 1px solid black; }
            tr.noBorder td {border: 0; }
        </style>

        <table>
            <tr class ="noBorder">
                <td></td>
                <td></td>
                <td><strong><center>ID</center></strong></td>
                <td><strong><center>Question</center></strong></td>
                <td><strong><center>Answer</center></strong></td>
                {# <td><strong><center>Test Cases</center></strong></td>   note: see below #}
                <td><strong><center>Points</center></strong></td>
            </tr>

            {% for i in itemarray %}
            <tr>
                <td><a class="button" href="question_creation.php?edit={{i.id}}">Edit</a></td>
                <td>
                    <form name="checkForm" action="question_creation.php" method="post">
                        <input type="hidden" name="id" value="{{i.id}}">
                        <button class="button" type="submit" name="delete" value="Delete">Delete</button>
                    </form>
                </td>
                <td>{{i.id}}</td>
                <td>{{i.question}}</td>
                <td>{{i.answer}}</td>
                {# <td>{{i.testcases|join(',')}}</td>   note: failed to convert array to string #}
                <td>{{i.points}}</td>
            </tr>
            {% endfor  %}

        </table>

</center>

{% endblock %}
