{% extends "instructor_template.twig" %}

{% block instructor %}
    <h1 class="title">Question Creation</h1>

    <div id="message">
        {{ message }}
    </div>

    <form action = "question_creation.php" method="POST">
        <label class="label" for="question">Question</label>
        <p class="control">
            <textarea class="textarea" name="question" value="question" rows="8" cols="40" placeholder="Enter question..." autofocus>{{ model["question"] }}</textarea>
        </p>

        <label class="label" for="answer">Answer</label>
        <p class="control">
            <textarea class="textarea" name="answer" value="answer" rows="8" cols="40" placeholder="Enter answer...">{{ model["answer"] }}</textarea>
        </p>

        <label class="label" for="answer">Test Cases</label>
        <p class="control">
            <textarea class="textarea" name="testcases" value="testcases" placeholder="Enter test cases... (comma separated list of test cases; each test case is a semicolon separated list)">{{ model["testCases"] }}</textarea>
        </p>

        <label class="label" for="points">Points</label>
        <p class="control">
            <input type="text" name="points" placeholder="Enter point value..." value="{{ model["points"] }}">
        </p>

        <p class="control">
            <label class="radio">
                <input type="radio" name="constraint" value="constraint:none">
                No constraint
            </label>
            <label class="radio">
                <input type="radio" name="constraint" value="constraint:recursion">
                Use recursion
            </label>
            <label class="radio">
                <input type="radio" name="constraint" value="constraint:loop">
                Use loop
            </label>
        </p>

        <p class="control">
            <input class="button is-primary" type="submit" name="btn" value="{% if editing %} Edit {% else %} Add {% endif %}" >
        </p>

        <input type="hidden" name="id" value="{{ model["id"] }}">
    </form>

    <h2>Questions/Answers Bank</h2>

        <table class="table">
            <tr>
                <td></td>
                <td><strong><center>Question</center></strong></td>
                <td><strong><center>Answer</center></strong></td>
                <td><strong><center>Test Cases</center></strong></td>
            </tr>

            {% for i in itemarray %}
            <tr>
                <td>
                    <p># {{i.id}}</p>
                    <p>Points: {{i.points}}</p>

                    <a class="button is-fullwidth" href="question_creation.php?edit={{i.id}}">Edit</a>
                    <form name="checkForm" action="question_creation.php" method="post">
                        <input type="hidden" name="id" value="{{i.id}}">
                        <button class="button is-fullwidth is-danger" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </td>
                <td>{{i.question}}</td>
                <td>{{i.answer}}</td>
                <td>
                    {% for c in i.testcases %}
                        <span class="icon is-small">
                          <i class="fa fa-caret-right"></i>
                        </span>
                        {% for x in c %}
                            {{ x }},
                        {% endfor %}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor  %}

        </table>

{% endblock %}
